<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <!--<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>-->
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <!--<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>-->
          <!--<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>-->
          <!--<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>-->
          <!--<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>-->
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ConnectionString" value="Persist Security Info=False;User ID=Prism_Batch;password=DB_build_HPE@pwd.2016;Initial Catalog=HyperSettings;Data Source=GVS91910.houston.hpecorp.net,2048"/>
    <add key="PRISMUI.VirtualDirName" value=""/>
    <add key="GEMSTONEUI.VirtualDirName" value=""/>
    <add key="applicationname" value="Crystal"/>
    <add key="RoleIdPermitAddNews" value="0"/>
  </appSettings>
  <system.web>
    <!--  COMPILATION DE DÉBOGAGE DYNAMIQUE
          Définissez compilation debug="true" pour insérer des symboles de débogage (informations .pdb)
          dans la page compilée. Dans la mesure où cela crée un fichier plus important qui s'exécute
          plus lentement, définissez cette valeur à true uniquement lors du débogage et à
          false toutes les autres fois. Pour plus d'informations, consultez la documentation relative au
          débogage des fichiers ASP.NET.
    -->
    <compilation defaultLanguage="vb" debug="false">
      <assemblies>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--  MESSAGES D'ERREUR PERSONNALISÉS
          Affectez au mode customErrors les valeurs "On" ou "RemoteOnly" pour activer les messages d'erreur personnalisés, "Off" pour les désactiver. 
          Ajoutez des balises <error> pour chacune des erreurs à gérer.

          "On" Toujours afficher des messages (conviviaux) personnalisés.
          "Off" Toujours afficher les informations d'erreur ASP.NET détaillées.
          "RemoteOnly" Afficher des messages (conviviaux) personnalisés uniquement aux utilisateurs qui ne s'exécutent pas 
           sur le serveur Web local. Ce paramètre est recommandé à des fins de sécurité, afin de 
           ne pas afficher d'informations détaillées sur l'application aux clients distants.
    -->
    <customErrors mode="Off"/>
    <!--  AUTHENTIFICATION 
          Cette section définit les stratégies d'authentification de l'application. Les modes possibles sont "Windows", 
          "Forms", "Passport" et "None"

          "None" Aucune authentification n'est effectuée. 
          "Windows" IIS exécute une authentification (Basic, Digest ou Windows intégrée) en fonction de 
           ses paramètres pour l'application. L'accès anonyme doit être désactivé dans IIS. 
          "Forms" Vous fournissez un formulaire personnalisé (page Web) pour que les utilisateurs entrent leurs informations d'identification et que 
           vous les authentifiiez dans votre application. Le jeton d'informations d'identification d'un utilisateur est stocké dans un cookie.
          "Passport" L'authentification est effectuée par l'intermédiaire d'un service d'authentification centralisé fourni 
           par Microsoft qui offre une ouverture de HttpContext.Current.Session unique et des services de profil principaux pour les sites membres.
    <authentication mode="none" /> 
    -->
    <!--  AUTORISATION 
          Cette section définit les stratégies d'autorisation de l'application. Vous pouvez autoriser ou refuser l'accès
          aux ressources de l'application par utilisateur ou rôle. Les caractères génériques : "*" signifient tout le monde, "?" signifie utilisateurs 
          (non authentifiés) anonymes.
    -->
    <authorization>
      <allow users="*"/>
      <!-- Autoriser tous les utilisateurs -->
      <!--  <allow     users="[liste des utilisateurs séparés par une virgule]"
                             roles="[liste des rôles séparés par une virgule]"/>
                  <deny      users="[liste des utilisateurs séparés par une virgule]"
                             roles="[liste des rôles séparés par une virgule]"/>
            -->
    </authorization>
    <!--  ENREGISTREMENT DANS UN JOURNAL DES TRACES AU NIVEAU DE L'APPLICATION
          Les traces au niveau de l'application peuvent être enregistrées dans un journal pour chaque page dans une application. 
          Définissez trace enabled="true" pour activer l'enregistrement des traces dans un journal.  Si pageOutput="true", les
          informations des traces seront affichées en bas de chaque page.  Dans le cas contraire, vous pouvez afficher le
          journal des traces de l'application en parcourant la page "trace.axd" à partir de la racine de votre application
          Web. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="true" traceMode="SortByTime" localOnly="false"/>
    <!--  PARAMÈTRES DE L'ÉTAT DE HttpContext.Current.Session
          Par défaut ASP.NET utilise des cookies pour identifier les demandes qui appartiennent à une HttpContext.Current.Session donnée. 
          Si les cookies ne sont pas disponibles, une HttpContext.Current.Session peut être suivie en ajoutant un identificateur de HttpContext.Current.Session à l'URL. 
          Pour désactiver les cookies, définissez sessionState cookieless="true".
    -->
    <!--<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20" />-->
    <!--<sessionState mode="SQLServer" sqlConnectionString="data source=VITELLIUS;User ID=sa;Password=&amp;W-Esperant0;" cookieless="false" timeout="20" />-->
    <!--  GLOBALISATION
          Cette section définit les paramètres de globalisation de l'application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <!--<httpHandlers>
  <add verb="*" path="c1chartimage.aspx" type="C1.Web.C1WebChart.ImageHttpHandler,C1.Web.C1WebChart"/>
</httpHandlers>-->
    <pages>
      <namespaces>
        <add namespace="Microsoft.VisualBasic"/>
        <add namespace="System.Data"/>
        <add namespace="System.Drawing"/>
      </namespaces>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>
    <xhtmlConformance mode="Legacy"/>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
  </system.web>
  <system.codedom>
      <compilers>
        <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
          <providerOption name="CompilerVersion" value="v3.5"/>
          <providerOption name="WarnAsError" value="false"/>
      </compiler>
        <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/define:Debug=True /define:Trace=True /imports:Microsoft.VisualBasic,System,System.Collections,System.Configuration,System.Data,System.Drawing,System.Web,System.Web.UI,System.Web.UI.HtmlControls,System.Web.UI.WebControls">
          <providerOption name="CompilerVersion" value="v3.5"/>
          <providerOption name="OptionInfer" value="true"/>
          <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <system.webServer>
      <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>